In [1]:
!pip install -q findspark==1.3.0
!pip install py4j==0.10.9

# For plotting
!pip install folium
!pip install plotly

!pip install psycopg2
!pip install pandas
!pip install tweepy

Requirement already satisfied: py4j==0.10.9 in /opt/conda/lib/python3.8/site-packages (0.10.9)
Requirement already satisfied: folium in /opt/conda/lib/python3.8/site-packages (0.12.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.8/site-packages (from folium) (2.25.1)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/lib/python3.8/site-packages (from folium) (2.11.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from folium) (1.19.5)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/lib/python3.8/site-packages (from folium) (0.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/lib/python3.8/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests->folium) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests->folium) (1.26.3)
Requirement already satisfied: plotly in /opt/conda/lib/python3.8/site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in /opt/conda/lib/python3.8/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from plotly) (1.15.0)
Requirement already satisfied: psycopg2 in /opt/conda/lib/python3.8/site-packages (2.8.6)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2020.5)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: tweepy in /opt/conda/lib/python3.8/site-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.8/site-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /opt/conda/lib/python3.8/site-packages (from tweepy) (2.25.1)
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.8/site-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.0.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (1.26.3)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (2020.12.5)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /opt/conda/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop2.7"
os.environ["PYSPARK_SUBMIT_ARGS"] = ""

In [3]:
import findspark
findspark.add_packages(["org.apache.spark:spark-sql-kafka-0-10_2.12:3.0.1"])
findspark.add_jars(["/content/spark-3.0.1-bin-hadoop2.7/jars/kafka-clients-2.0.0.jar","/content/spark-3.0.1-bin-hadoop2.7/jars/lz4-java-1.4.1-jar","/content/spark-3.0.1-bin-hadoop2.7/jars/scala-library-2.11.12.jar","/content/spark-3.0.1-bin-hadoop2.7/jars/slf4j-api-1.7.25.jar","/content/spark-3.0.1-bin-hadoop2.7/jars/snappy-java-1.1.7.1.jar","/content/spark-3.0.1-bin-hadoop2.7/jars/spark-sql-kafka-0-10_2.11-2.4.5.jar","/content/spark-3.0.1-bin-hadoop2.7/jars/spark-tags_2.11-2.4.5.jar","/content/spark-3.0.1-bin-hadoop2.7/jars/unused-1.0.0.jar"])
findspark.init("/content/spark-3.0.1-bin-hadoop2.7")# SPARK_HOME

from pyspark.sql import SparkSession

spark = SparkSession \
        .builder \
        .master("local[*]") \
        .config("spark.ui.port", "4040") \
        .getOrCreate()

spark.version

'3.0.1'

In [4]:
spark

In [5]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [6]:
import psycopg2
import numpy as np
import pandas as pd
import time
import json
import tweepy
from tweepy import OAuthHandler
import requests
import os
import sys

In [7]:
def connect():
    try:
        connection = psycopg2.connect(user = "postgres",
                                      password = "Welcome01",
                                      host = "104.154.145.52",
                                      port = "5432",
                                      database = "dataproject2")
       
        cursor = connection.cursor()
        return cursor
        
    except (Exception, psycopg2.Error) as error :
        print ("Error while connecting to PostgreSQL", error)

In [17]:
def algoritmo(tweet_text, tweet_person_id):
    tg0 = time.time()
    cursor = connect()
    
    playa = ["Valencia", "Barcelona", "Ibiza"]
    ciudad = ["Madrid", "Barcelona", "Valencia", "Sevilla"]
    naturaleza = ["Oviedo", "Bilbao"]
    fiesta = ["Ibiza", "Madrid", "Barcelona"]
    
    scoring = {"Madrid": 0, "Barcelona": 0, "Ibiza": 0, "Valencia": 0, "Sevilla": 0, "Oviedo": 0, "Bilbao": 0}
    
    #json_person = json.loads(text_person)
    #tweet_text = json_person['full_text']
    #tweet_person_id = json_person['id']
    
    split_text = tweet_text.split(" ")
    try:
        name = split_text[3] + " " + split_text[4][:-1]
        salary = split_text[8][:-1]
        members = split_text[19]
        beach = split_text[25][-3:-2]
        city = split_text[26][-3:-2]
        nature = split_text[27][-3:-2]
        party = split_text[28][-2:-1]

        t0 = time.time()
        
        for k in scoring:
            try:
                playa.index(k)
                scoring[k] += int(beach)
            except (Exception) as error :
                print("Not present", error)

            try:
                ciudad.index(k)
                scoring[k] += int(city)
            except (Exception) as error :
                print("Not present", error)

            try:
                naturaleza.index(k)
                scoring[k] += int(nature)
            except (Exception) as error :
                print("Not present", error)

            try:
                fiesta.index(k)
                scoring[k] += int(party)
            except (Exception) as error :
                print("Not present", error)

        t1 = time.time()
        print("Tiempo de scoring: "+ str(t1-t0))
        
        t0 = time.time()
        cursor.execute("SELECT * FROM casas WHERE cost <= " + str((int(salary)/12)*0.2) + " and (rooms = "
                       + str(members) + " or rooms = " + str(int(members)+1) + ") and c_counter <=4;")
        record = cursor.fetchall()

        cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'casas'")
        columns_name = cursor.fetchall()
        
        t1 = time.time()
        print("Tiempo de consulta a base de datos: "+ str(t1-t0))

        """Convert array of arrays to single array"""

        array_columns_name = np.array(columns_name)
        array_columns_name = np.concatenate( array_columns_name, axis=0 )

        print(array_columns_name)

        """Transform result of query to a pandas dataframe"""

        df = pd.DataFrame(record, columns=array_columns_name)

        #casas_coste = df[df.cost <= ((int(salary)/12)*0.2)]

        #casas_hab = casas_coste.loc[(casas_coste.rooms == members) | ((casas_coste.rooms.astype(int)) == int(members)+1)]

        #casas_libres = casas_hab.loc[casas_hab.c_counter <= 4]
        mejor_casa = df
        mejor_casa['score'] = mejor_casa['city_name'].map(scoring)
        resultado = mejor_casa[mejor_casa.score == max(mejor_casa.score)]

        consumer_key = "ZHwb6JawdsgTUZreb4yZeb2tX"
        consumer_secret = "2UoU6lEpNeTPM847paK6X6z6BVoUENhPq87rIIWcOycnNhGtpd"
        access_token = "1346037018132930560-G3afFHkhsPiYlo1yFO3X4mTmdJhTOY"
        access_token_secret = "jLjtkTK9VQVitacVhLj8QtSdb0mkOto4J9PDDSWR9x9Q0"

        images_url = {"Madrid": "https://www.enforex.com/images/fichas/madrid/ciudad-madrid-2.jpg", 
                  "Barcelona": "https://www.alsa.es/documents/21643679/21664598/Barcelona.jpg", 
                  "Ibiza": "https://www.iagua.es/sites/default/files/styles/thumbnail-700x700/public/1155x510-ibiza1.jpg?itok=0SafgsGX", 
                  "Valencia": "https://static.lasprovincias.es/www/multimedia/202009/30/media/cortadas/valencia-turismo-tarjeta-kfHG-U1203216296067wG-624x385@Las%20Provincias.jpg", 
                  "Sevilla": "https://elcorreoweb.es/binrepository/plaza-espana-sevilla_20333351_20200107162131.jpg", 
                  "Oviedo": "https://www.iberia.com/ibcomv3/content/landings/OVD.jpg", 
                  "Bilbao": "https://www.leonardo-hotels.es/octopus/Upload/images/Pages/bilbao-1920x580.jpg"}

        # Configuración de acceso con las credenciales
        auth = OAuthHandler(consumer_key, consumer_secret)
        auth.set_access_token(access_token, access_token_secret)

        # Listos para hacer la conexión con el API
        api = tweepy.API(auth)

        t0 = time.time()
        contador = 0
        for _, i in resultado.iterrows():
            # Ofrecer como maximo 2 casas a una misma persona
            if contador >= 2:
                break;    

            tweet = "Hi! "+ name + ", your perfect house is placed in " + i.city_name + ", with the code: " + str(i.house_id)
            tweet += " https://twitter.com/dlpexercisepro1/status/" + str(i.tweet_id)

            t2 = time.time()
            # Download the image
            url = images_url.get(i.city_name)
            filename = '/tmp/temp.jpg'
            request = requests.get(url, stream=True)
            if request.status_code == 200:
                with open(filename, 'wb') as image:
                    for chunk in request:
                        image.write(chunk)
            else:
                return "Unable to download image"
            
            t3 = time.time()
            print("Tiempo de descarga de imagen: " +str(t3-t2))

            # Publish Tweet with image
            api.update_with_media(filename, status=tweet, in_reply_to_status_id = tweet_person_id, auto_populate_reply_metadata = True)

            os.remove(filename)   
            contador += 1

            # Increment house counter
            cursor.execute("UPDATE casas SET c_counter = c_counter + 1 WHERE tweet_id = " + str(i.tweet_id))
        t1 = time.time()
        print("Tiempo de publicación: "+ str(t1-t0))
        tg1 = time.time()
        print("Tiempo total: "+ str(tg1-tg0))
        return "publicado"
    except (Exception) as error :
        return "error"

In [9]:
from pyspark.sql.functions import from_json, col
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

df = spark \
    .readStream \
    .format("kafka") \
    .option("kafka.bootstrap.servers", "broker:29092") \
    .option("subscribe", "este") \
    .load()
    
#df.printSchema()  

schema = StructType(
    [
     StructField('created_at', StringType(), True),
     StructField('id', StringType(), True),
     StructField('full_text', StringType(), True),
     StructField('text', StringType(), True)
    ]
)

dataset = df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)", "timestamp") \
    .withColumn("value", from_json("value", schema)) \
    .select(col('key'), col("timestamp"), col('value.*'))

#df1 = df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)", "timestamp") \
#        .select(col('key'), col('timestamp'), col('value'))

dataset.writeStream \
  .outputMode("update") \
  .format("memory") \
  .option("truncate", "false") \
  .queryName("tweets") \
  .start()

In [14]:
spark.sql("select * from tweets order by timestamp desc").show(truncate = False)

+----+-----------------------+------------------------------+-------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|key |timestamp              |created_at                    |id                 |full_text                                                                                                                                                                 |text                                                                                                                                        |
+----+-----------------------+------------------------------+-------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|null|2021-02-08 08:52:39.451|Sun Feb 07 17:47:40 +0000 2021|1358472511747424259|My name is Austin Huber, my salary is 65536€ yearly and I am 36 years old. My family are 4 members. These are my hobbies: Beach(5), City(2), Nature(7), Party(0)  #mdaedem|My name is Austin Huber, my salary is 65536€ yearly and I am 36 years old. My family are 4 members. These are my ho… https://t.co/wojkgqPnHy|
+----+-----------------------+------------------------------+-------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------+

In [11]:
def spark_algoritmo(f, sp_id):
    return algoritmo(f.value.full_text, f.value.id)

In [12]:
from pyspark.sql.functions import *

spark.udf.register("udf_algoritmo", algoritmo) 
spark.udf.register("udf_spark_algoritmo", spark_algoritmo) 

dataset1 = df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)", "timestamp") \
    .withColumn("value", from_json("value", schema)) \
    .select(col('key'), col("timestamp"), col('value.*'))

tweet_proc = dataset1.writeStream \
                .foreachBatch(spark_algoritmo) \
                .outputMode("update") \
                .format("memory") \
                .option("truncate", "false") \
                .queryName("output1") \
                .start()

In [15]:
spark.sql("select * from output1").show(truncate = False)

+----+-----------------------+------------------------------+-------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|key |timestamp              |created_at                    |id                 |full_text                                                                                                                                                                 |text                                                                                                                                        |
+----+-----------------------+------------------------------+-------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|null|2021-02-08 08:52:39.451|Sun Feb 07 17:47:40 +0000 2021|1358472511747424259|My name is Austin Huber, my salary is 65536€ yearly and I am 36 years old. My family are 4 members. These are my hobbies: Beach(5), City(2), Nature(7), Party(0)  #mdaedem|My name is Austin Huber, my salary is 65536€ yearly and I am 36 years old. My family are 4 members. These are my ho… https://t.co/wojkgqPnHy|
+----+-----------------------+------------------------------+-------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------+

In [27]:
def spark_algoritmo_with(value):
    return algoritmo(value.full_text, value.id)

In [28]:
from pyspark.sql.functions import *

spark.udf.register("udf_algoritmo", algoritmo)
spark.udf.register("spark_algoritmo_with", spark_algoritmo_with) 
df1_proc = dataset.withColumn("res", spark_algoritmo_with(col("value"))) \
                    .select("timestamp", "value.*", "res")

TypeError: 'Column' object is not callable